GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=Ai_studio_api_key_here


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email@gmail.com
SMTP_PASSWORD=pasword
SUPERVISOR_EMAIL=bahaayyadcs@gmail.com


WEBHOOK_BASE_URL=http://localhost:8000
